HPQ9EO_1015/Hpq9eo_XMLSchemaGPT.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    elementFormDefault="qualified"
    attributeFormDefault="unqualified">

    <!-- ======== Komplex típusok ======== -->

    <!-- Cím -->
    <xs:complexType name="AddressType">
        <xs:sequence>
            <xs:element name="varos" type="xs:string" />
            <xs:element name="utca" type="xs:string" />
            <xs:element name="hazszam" type="xs:string" />
        </xs:sequence>
    </xs:complexType>

    <!-- Étterem -->
    <xs:complexType name="EtteremType">
        <xs:sequence>
            <xs:element name="nev" type="xs:string" />
            <xs:element name="cim" type="AddressType" />
            <xs:element name="csillag" type="xs:integer" />
        </xs:sequence>
        <xs:attribute name="ekod" type="xs:string" use="required" />
    </xs:complexType>

    <!-- Főszakács -->
    <xs:complexType name="FoszakacsType">
        <xs:sequence>
            <xs:element name="nev" type="xs:string" />
            <xs:element name="eletkor" type="xs:integer" />
            <xs:element name="vegzettseg" type="xs:string" maxOccurs="unbounded" />
        </xs:sequence>
        <xs:attribute name="fkod" type="xs:string" use="required" />
        <xs:attribute name="e_f" type="xs:string" use="required" />
    </xs:complexType>

    <!-- Szakács -->
    <xs:complexType name="SzakacsType">
        <xs:sequence>
            <xs:element name="nev" type="xs:string" />
            <xs:element name="reszleg" type="xs:string" />
            <xs:element name="vegzettseg" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
        <xs:attribute name="szkod" type="xs:string" use="required" />
        <xs:attribute name="e_sz" type="xs:string" use="required" />
    </xs:complexType>

    <!-- Gyakorlat -->
    <xs:complexType name="GyakorlatType">
        <xs:sequence>
            <xs:element name="kezdete" type="xs:string" />
            <xs:element name="idotartama" type="xs:string" />
        </xs:sequence>
    </xs:complexType>

    <!-- Gyakornok -->
    <xs:complexType name="GyakornokType">
        <xs:sequence>
            <xs:element name="nev" type="xs:string" />
            <xs:element name="gyakorlat" type="GyakorlatType" />
            <xs:element name="muszak" type="xs:string" maxOccurs="unbounded" />
        </xs:sequence>
        <xs:attribute name="gykod" type="xs:string" use="required" />
        <xs:attribute name="e_gy" type="xs:string" use="required" />
    </xs:complexType>

    <!-- Vendég -->
    <xs:complexType name="VendegType">
        <xs:sequence>
            <xs:element name="nev" type="xs:string" />
            <xs:element name="eletkor" type="xs:integer" />
            <xs:element name="cim" type="AddressType" />
        </xs:sequence>
        <xs:attribute name="vkod" type="xs:string" use="required" />
    </xs:complexType>

    <!-- Rendelés -->
    <xs:complexType name="RendelesType">
        <xs:sequence>
            <xs:element name="osszeg" type="xs:integer" />
            <xs:element name="etel" type="xs:string" />
        </xs:sequence>
        <xs:attribute name="e_r" type="xs:string" use="required" />
        <xs:attribute name="v_r" type="xs:string" use="required" />
    </xs:complexType>

    <!-- ======== Gyökérelem ======== -->

    <xs:element name="vendeglatas">
        <xs:complexType>
            <xs:choice maxOccurs="unbounded">
                <xs:element name="etterem" type="EtteremType" />
                <xs:element name="foszakacs" type="FoszakacsType" />
                <xs:element name="szakacs" type="SzakacsType" />
                <xs:element name="gyakornok" type="GyakornokType" />
                <xs:element name="vendeg" type="VendegType" />
                <xs:element name="rendeles" type="RendelesType" />
            </xs:choice>
        </xs:complexType>

        <!-- ======== Kulcsok ======== -->
        <xs:key name="k_etterem">
            <xs:selector xpath="etterem" />
            <xs:field xpath="@ekod" />
        </xs:key>

        <xs:key name="k_foszakacs">
            <xs:selector xpath="foszakacs" />
            <xs:field xpath="@fkod" />
        </xs:key>

        <xs:key name="k_szakacs">
            <xs:selector xpath="szakacs" />
            <xs:field xpath="@szkod" />
        </xs:key>

        <xs:key name="k_gyakornok">
            <xs:selector xpath="gyakornok" />
            <xs:field xpath="@gykod" />
        </xs:key>

        <xs:key name="k_vendeg">
            <xs:selector xpath="vendeg" />
            <xs:field xpath="@vkod" />
        </xs:key>

        <!-- ======== Idegen kulcsok ======== -->
        <xs:keyref name="fk_foszakacs_etterem" refer="k_etterem">
            <xs:selector xpath="foszakacs" />
            <xs:field xpath="@e_f" />
        </xs:keyref>

        <xs:keyref name="fk_szakacs_etterem" refer="k_etterem">
            <xs:selector xpath="szakacs" />
            <xs:field xpath="@e_sz" />
        </xs:keyref>

        <xs:keyref name="fk_gyakornok_etterem" refer="k_etterem">
            <xs:selector xpath="gyakornok" />
            <xs:field xpath="@e_gy" />
        </xs:keyref>

        <xs:keyref name="fk_rendeles_etterem" refer="k_etterem">
            <xs:selector xpath="rendeles" />
            <xs:field xpath="@e_r" />
        </xs:keyref>

        <xs:keyref name="fk_rendeles_vendeg" refer="k_vendeg">
            <xs:selector xpath="rendeles" />
            <xs:field xpath="@v_r" />
        </xs:keyref>
    </xs:element>

</xs:schema>