HPQ9EO_XMLTask/1. feladat/HPQ9EO_XMLSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <!-- Egyszerű típusok -->
    <xs:element name="Szerviz">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Tulajdonosok" maxOccurs="1">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Tulajdonos" type="tulajTipus" maxOccurs="unbounded" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="Szalonok" maxOccurs="1">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Szalon" type="szalonTipus" maxOccurs="unbounded" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="Autok" maxOccurs="1">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Auto" type="autoTipus" maxOccurs="unbounded" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="Kapcsolatok" maxOccurs="1">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="U_Sz" type="kapcsolatTipus" maxOccurs="unbounded" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="Ugyfelek" maxOccurs="1">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Ugyfel" type="ugyfelTipus" maxOccurs="unbounded" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="Muszakok" maxOccurs="1">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Muszak" type="muszakTipus" maxOccurs="unbounded" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="Dolgozok" maxOccurs="1">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Dolgozo" type="dolgozoTipus" maxOccurs="unbounded" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>

        <!-- Kulcsok -->
        <!-- Idegen Kulcsok -->
        <!-- Az 1:1 kapcsolat megvalósításához -->
    </xs:element>

    <!-- Komplex Tipusok -->
</xs:schema>