HPQ9EO_1008/Hpq9eo_orarend2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    elementFormDefault="qualified"
    attributeFormDefault="unqualified">

    <!-- Fő elem -->
    <xs:element name="HPQ9EO_orarend" type="orarendTipus" />

    <!-- Orarend típus -->
    <xs:complexType name="orarendTipus">
        <xs:sequence>
            <xs:element name="ora" type="oraTipus" maxOccurs="unbounded" />
        </xs:sequence>
    </xs:complexType>

    <!-- Óra típus -->
    <xs:complexType name="oraTipus">
        <xs:sequence>
            <xs:element name="targy" type="targyTipus" />
            <xs:element name="idopont" type="idopontTipus" />
            <xs:element name="helyszin" type="helyszinTipus" />
            <xs:element name="oktato" type="oktatoTipus" />
            <xs:element name="szak" type="szakTipus" />
        </xs:sequence>
        <xs:attribute name="id" type="xs:ID" use="required" />
        <xs:attribute name="tipus" type="oraTipusEnum" use="required" />
    </xs:complexType>

    <!-- idopont komplex típus -->
    <xs:complexType name="idopontTipus">
        <xs:sequence>
            <xs:element name="nap" type="napTipus" />
            <xs:element name="tol" type="oraIdoTipus" />
            <xs:element name="ig" type="oraIdoTipus" />
        </xs:sequence>
    </xs:complexType>

    <!-- Egyszerű típusok -->

    <xs:simpleType name="targyTipus">
        <xs:restriction base="xs:string">
            <xs:minLength value="2" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="helyszinTipus">
        <xs:restriction base="xs:string">
            <xs:minLength value="2" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="oktatoTipus">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Za-zÁÉÍÓÖŐÚÜŰáéíóöőúüű\.\s]+" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="szakTipus">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Mernokinformatika" />
            <xs:enumeration value="Gazdasaginformatika" />
            <xs:enumeration value="Egyéb" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="napTipus">
        <xs:restriction base="xs:string">
            <xs:enumeration value="hetfo" />
            <xs:enumeration value="kedd" />
            <xs:enumeration value="szerda" />
            <xs:enumeration value="csutortok" />
            <xs:enumeration value="pentek" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="oraIdoTipus">
        <xs:restriction base="xs:integer">
            <xs:minInclusive value="0" />
            <xs:maxInclusive value="24" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="oraTipusEnum">
        <xs:restriction base="xs:string">
            <xs:enumeration value="elmelet" />
            <xs:enumeration value="gyakorlat" />
        </xs:restriction>
    </xs:simpleType>

</xs:schema>